
#table_item {
    table-layout: fixed;
    width: 1000px;
    height: 1000px;
    font-size: 10px;
    border-collapse: separate;
    border-spacing: 1px;
}

.cell {
    /* width: 12px; */
    /* height: 12px; */
    font-weight: bold;
    background-color: rgb(199,199,199);
    text-align: center;
}
.diag {
    background-color: gray;
    background-size: cover;
}
.sei-san {
    background-color: rgb(174,199,232);
}
.mei-san {
    background-color: rgb(197,176,213);
}
.mei-chan {
    background-color: rgb(158,218,229);
}
.mei {
    background-color: rgb(219,219,141);
}
.aisho {
    background-color: rgb(247,182,210);
}
.keisho {
    background-color: rgb(196,156,148);
}

#table_container {
    overflow: auto;
    height: 60vh;
}

#legend_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
}
.legend {
    width: 16px;
    height: 16px;
    margin-left: 40px;
    margin-right: 5px;
}

/* https://qiita.com/orangain/items/6268b6528ab33b27f8f2 */
#table_item tr:first-child th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
    font-weight: normal;
    height: 70px;
    line-height: 12px;
    vertical-align: bottom;
}
#table_item th:first-child {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    background-color: white;
    font-weight: normal;
    width: 70px;
    text-align: right;
}
#table_item tr:first-child th:first-child {
    z-index: 2;
    text-align: center;
    vertical-align: middle;
}

/*  */
#koshou_container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 360px;
    margin: auto;
}
.koshou_item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: whitesmoke;
    margin-top: 10px;
    padding: 5px;
    /* box-shadow : 5px 5px 5px 0px gray; */
    display: none;
}
div.koshou_block {
    font-size: 12px;
    display: flex;
    flex-direction: row;
}
div.koshou_term {
    font-size: 12px;
    font-weight: bold;
    margin-right: 10px;
}
div.koshou_text {
    font-size: 12px;
    margin-left: 10px;
}
div.koshou_head {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}
