

#display_container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#description {
    font-size: 16px;
    text-align: center;
    padding-top: 10px;
}

#result {
    font-size: 16px;
    text-align: center;
}
.attribute {
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
}
.pr {
    color: #ff2284;
}
.fa {
    color: #005eff;
}
.an {
    color: #ffbb00;
}

#network {
    height: 50vh;
    border: 1px solid gray;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    /* background-color: whitesmoke; */
}

#idol_container {
    /* border: black solid 1px; */

    min-width: 320px; 
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;

    /* background-repeat: no-repeat;
    background-position: 100% 0%;
    background-size: 80px; */

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.idol_name {
    font-size: 40px;
    font-weight: bold;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: white;
    text-shadow:
        1px 1px 0px black, -1px -1px 0px black,
        -1px 1px 0px black, 1px -1px 0px black,
        0px 1px 0px black,  0px -1px 0px black,
        -1px 0px 0px black, 1px 0px 0px black;
}
.idol_eng {
    font-size: 16px;
    /* font-weight: bold; */
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
.idol_introduction {
    font-size: 20px;
    font-weight: bold;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
/* table td {
    padding-right: 10px;
} */
table td:nth-of-type(1) {
    font-weight: bold;
    width: 80px;
}
table td:nth-of-type(2) {
    width: 240px;
}

#tunes_container {
    /* border: black solid 1px; */

    min-width : 320px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.tune_container {
    width: 320px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 5px;
    padding-bottom: 5px;
	background-color: whitesmoke;
}
.tune_name {
    padding-top: 5px;
    font-size: 16px;
    font-weight: bold;
}



#questions_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.question_container {
    width: 320px;
    margin: 5px;
    background-color: pink;
    border: 1px solid gray;
}
.question_container.selected {
    background-color: white;
}
.question_text {
    text-align: center;
    margin-top: 5px;
}
.button_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.answer_button {
    display: inline-block;
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 80px;
    text-align: center;
	text-decoration: none;
	color: black;
	background-color: whitesmoke;
    border: 1px solid gray;
    cursor: pointer;
}
.answer_button:hover {
    background-color: gray;
    color: white;
}
.answer_button.selected {
    background-color: gray;
    color: white;
}
