

#questions_inner {
    height: 300px;
}
.carousel-indicators li{
    background-color: lightgray;
}
.carousel-indicators .active {
    background-color: gray;
}

.pr {
    color: #ff2284;
    font-weight: bold;
}
.fa {
    color: #005eff;
    font-weight: bold;
}
.an {
    color: #ffbb00;
    font-weight: bold;
}
#bar_pr {
    background-color: #ff2284;
}
#bar_fa {
    background-color: #005eff;
}
#bar_an {
    background-color: #ffbb00;
}

#result_container {
    display: none;
}
#result_summary {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 0.5rem;
}
#result_percent {
    font-size: 1rem;
}
#result_detail {
    font-size: 0.75rem;
}
#result_idol {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 0.5rem;
}

#network {
    height: 50vh;
    border: gray 1px solid;
}
#network_container {
    margin-top: 1rem;
}

#idol_container {
    display: none;

    min-width: 320px;
    /* width: 320px; */

    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: 200px;
}

#idol_eng {
    font-size: 16px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-align: center;
}
#idol_name {
    font-size: 40px;
    font-weight: bold;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-align: center;
    color: white;
    text-shadow:
        1px 1px 0px black, -1px -1px 0px black,
        -1px 1px 0px black, 1px -1px 0px black,
        0px 1px 0px black,  0px -1px 0px black,
        -1px 0px 0px black, 1px 0px 0px black;
}
#idol_introduction {
    font-size: 20px;
    font-weight: bold;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-align: center;
}
#idol_profile {
    font-size: 12px;
}
#idol_profile table td, #profile_table th {
    border: none;
}
#idol_profile table tr td:nth-child(1) {
    width: 25%;
}
#idol_profile table tr td:nth-child(2) {
    width: 75%;
}

#tunes_container {
    display: none;
}
